@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rev-gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes flicker {
    0% {
        text-shadow: 0 0 10px rgba(255, 35, 255, .5);
    }
    25% {
       text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
    81.25% {
        text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
    87.5% {
        text-shadow: 0 0 15px rgba(255, 35, 255, .5)
    }
    93.75% {
        text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
    96.865% {
        text-shadow: 0 0 15px rgba(255, 35, 255, .5)
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 35, 255, .5)
    }
}

:root {
    --primary-color: #1956FF;
    --secondary-color: #42D7EB;
    --tertiary-color: #FF23FF;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header h1 {
    font-size: 5.25rem;
    color: var(--secondary-color);
}

main {
    opacity: 90%;
}

a {
    color: inherit!important;
}

.secondary {
    border-color: var(--secondary-color);
    background: #d0f4fb;
    color: #0c778d;
}

.tertiary {
    background: var(--tertiary-color);
    color: var(--secondary-color);
}

.gone {
    display: none!important;
}

.margin-top-vh-100 {
    margin-top: 100vh;
}

.anim-border {
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;    
}
.anim-grad {
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
}

.right-border {
    border-right: 3px solid var(--tertiary-color);
}
.anim-shadow {
    text-shadow: 0 0 10px rgba(255, 35, 255, 1);
    animation: flicker 1.5s ease infinite;
}

#heart-shape {
    position: relative;
    width: 35px;
    height: 35px;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
    border-bottom: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    transform: rotate(45deg);
}
#heart-shape:before {
    position: absolute;
    width: 35px;
    height: 35px;
    left: -15px;
    content: '';
    border-radius: 50%;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border-left: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}
#heart-shape:after {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -15px;
    content: '';
    border-radius: 50%;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border-right: 3px solid var(--secondary-color);
    border-top: 3px solid var(--secondary-color);
}

.border-curve {
    border-radius: 3%;
}
.border-none {
    border: none!important;
}

.margin-right-0px {
    margin-right: 0;
}

.padding-0px {
    padding: 0;
}
.padding-5px {
    padding: 5px;
}
.padding-right-3px {
    padding-right: 3px;
}
.padding-left-right-50px {
    padding: 0 50px;
}

.size-100 {
    height: 100%!important;
    width: 100%!important;
}
.size-23rem {
    height: 23rem;
    width: 23rem;
}

.w-45p {
    width: 45%!important;
}

.background-primary {
    background: var(--primary-color)!important;
}
.background-secondary {
    background: var(--secondary-color);
}
.background-tertiary {
    background: var(--tertiary-color);
}

.border-tertiary {
    border-color: var(--tertiary-color)!important;
}

.color-secondary {
    color: var(--secondary-color)!important;
}
.color-tertiary {
    color: var(--tertiary-color)!important;
}