@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rev-gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes flicker {
    0% {
        text-shadow: 0 0 10px rgba(255, 35, 255, .5);
    }
    25% {
       text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
    81.25% {
        text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
    87.5% {
        text-shadow: 0 0 15px rgba(255, 35, 255, .5)
    }
    93.75% {
        text-shadow: 0 0 15px rgba(255, 35, 255, 1)
    }
}

:root {
    --primary-color: #1956FF;
    --secondary-color: #42D7EB;
    --tertiary-color: #FF23FF;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--primary-color);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    border: 1px solid black;
    z-index: 9999;
}
header h1 {
    margin: auto 0;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 3px;
    font-size: 45px;
    text-shadow: 0 0 10px rgba(255, 35, 255, 1);
    animation: flicker 1.5s ease infinite;
    color: var(--primary-color);
}
header nav {
    margin: auto 35px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
header nav ul li {
    margin: 10px;    
    background-color: var(--secondary-color);
}
header nav ul li a {
    color: var(--primary-color);
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 25px;
}

#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    text-shadow: 0 0 10px rgba(25, 86, 255, .5);
}
#hero h2 {
    height: fit-content;
    margin: auto 0;
    text-align: center;
}
#hero p {
    height: fit-content;
    padding: 3%;    
    margin: auto 0;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
    font-weight: bold;
    font-size: 45px;
    border-radius: 3px;
}

#content-wrapper {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border: 5px solid var(--secondary-color);
}
#content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
}
.contents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 25px;
    background-color: var(--secondary-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
.contents:first-child {
    border-top: 1px solid black;
}
.contents:last-child {
    padding: 0;
    border-bottom: 1px solid black;
}
.contents h3 {
    width: 25%;
    font-size: 57px;
}
#about-me-wrapper,
.contents address,
#img-wrapper {
    width: 75%;
    padding: 10px;
    border-left: 5px solid var(--tertiary-color);
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    color: var(--tertiary-color);
}
#about-me-wrapper {
    margin-top: 5px;
}
#img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-wrapper a {
    height: 50%;
    width: 50%;
    margin: 5px;
    padding: 15px;
    background: gainsboro;
    border: 3px solid var(--primary-color);
    z-index: 1;
}
#img-wrapper a:first-child {
    height: 75%;
    width: 75%;
}

#img-wrapper img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.contents address {
    margin-bottom: 5px;
}
.contents address a {
    text-decoration: none;
    color: var(--tertiary-color);
}

#extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
#extras figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 25px 0;
}
#heart-wrapper {
    margin: 75px 0 50px 0;
}
#heart-shape {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
    border-bottom: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    transform: rotate(45deg);
}
#heart-shape:before {
    position: absolute;
    bottom: -3px;
    left: -100px;
    width: 200px;
    height: 200px;
    content: '';
    border-radius: 50%;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border-left: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color)
}
#heart-shape:after {
    position: absolute;
    top: -100px;
    right: -3px;
    width: 200px;
    height: 200px;
    content: '';
    border-radius: 50%;
    background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border-right: 3px solid var(--secondary-color);
    border-top: 3px solid var(--secondary-color);
}
#extras a {
    font-size: 25px;
    text-shadow: 0 0 10px rgba(66, 215, 235, .5);
    color: var(--tertiary-color); 
}
#song {
    padding: 3px;
    border: 3px solid var(--secondary-color);   
}

@media screen and (max-width: 952px) {
    .contents {
        flex-direction: column;
    }

    .contents h3 {
        width: fit-content;
    }

    #about-me-wrapper,
    .contents address,
    #img-wrapper {
        border-left: 0;
        border-top: 5px solid var(--tertiary-color);
    }
}
@media screen and (max-width: 733px) {
    header {
        flex-direction: column;
    }
    header h1 {
        margin: auto;
    }
    header nav ul {
        justify-content: center;
    }

    #hero {
        flex-direction: column-reverse;
    }
    #hero p {
        margin: auto;
    }

    .contents h3 {
        font-size: 45px;
    }
}
@media screen and (max-width: 595px) {
    header {
        position: static;
    }

    #hero h2 a {
        font-size: 20px;
    }
    #hero p {
        font-size: 35px;
    }
    
}