@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rev-gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

:root {
    --primary-color: #1956FF;
    --secondary-color: #42D7EB;
    --tertiary-color: #FF23FF;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--primary-color);
}

/*h1 shadow flixker effect*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    border: 1px solid black;
    z-index: 9999;
}
header h1 {
    margin: auto 0;
    padding: 5px;
    height: fit-content;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 3px;
    font-size: 45px;
    text-shadow: 0 0 10px rgba(255, 35, 255, 0.49)
}
header nav {
    margin: auto 35px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
/*
    IMPORTANT 
later see if i can swap and make the li background instead of a background*/
header nav ul li {
    padding: 10px;
}
header nav ul li a {
    color: var(--primary-color);
    padding: 3px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 25px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background: linear-gradient(-50deg, #1956FF, #FF23FF, #42D7EB);
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero h2 {
    height: fit-content;
    margin: auto 0;
    text-align: center;
}
.hero p {
    height: fit-content;
    padding: 3%;    
    margin: auto 0;
    background: linear-gradient(-50deg, #1956FF, #FF23FF, #42D7EB);
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
    font-weight: bold;
    font-size: 45px;
    border-radius: 3px;
}

/*do the whole border animation shenananandandigans with a before or something m,aybe*/
.content-wrapper {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    background: linear-gradient(-50deg, #1956FF, #FF23FF, #42D7EB);
    background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    border: 5px solid var(--secondary-color);
}
.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background: linear-gradient(-50deg, #1956FF, #FF23FF, #42D7EB);
    background-size: 400% 400%;
	animation: rev-gradient 13s ease infinite;
}
.contents {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: auto 0;
    padding-bottom: 25px;
    background-color: var(--secondary-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
.contents:first-child {
    border-top: 1px solid black;
}
.contents:last-child {
    padding: 0;
    border-bottom: 1px solid black;
}
.contents h3 {
    width: 25%;
    margin: auto 0;
    font-size: 57px;
}
.content p,
.contents address,
.contents .img-wrapper {
    width: 75%;
    padding: 10px;
    border-left: 5px solid var(--tertiary-color);
    font-size: 25px;
}
.contents p, .contents address {
    margin-top: 5px;
}
.contents .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents .img-wrapper a {
    height: 50%;
    width: 50%;
    margin: 5px;
    padding: 15px;
    background: gainsboro;
    border: 3px solid var(--primary-color);
    z-index: 1;
}
.contents .img-wrapper a:first-child {
    height: 75%;
    width: 75%;
}

.contents .img-wrapper img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.contents address {
    margin-bottom: 5px;
}

.song {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.song a {
    padding: 3px;
    border: 3px solid var(--secondary-color);
    font-size: 25px;
    text-shadow: 0 0 10px rgba(66, 215, 235, .5);
    color: var(--tertiary-color);    
}